$font-size-l: 1.75rem;
$font-size-m: 1.3125rem;
$font-size-s: 1.125rem;

$font-weigth-thin: 300;
$font-weigth-regular: 400;
$font-weigth-bold: 700;

@mixin font($font-family, $font-size, $font-weight) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}