* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

input {
  appearance: none;
  border: none;
  outline: none;
}

.Logo, .MenuBtn, .ControlBtn, .SearchBar__label {
  cursor: pointer;
}