// s - small, m - medium, l - large

// colors
$white: #ffffff;
$grey98: #fafafa;
$grey: #f1f1f1;
$light-gray: #fbfbfb;
$light-grey: #e4e4e4;

$red: #ff0000;

$black: #000000;
$very-dark-blue-magenta: #1d1d1f;
$dark-grey: #343434;
$matterhorn: #514e4e;
$grey42: #6b6b6b;

// border-radius 
$bord-rad-all-3px: 3px;
$bord-rad-all-6px: 6px;
$bord-rad-bottom-3px: 0px 0px 3px 3px;
$bord-rad-top-3px: 3px 3px 0 0;

// margins
$margin-l: 1.5625rem;

// widths
$width-l: 81.25rem;