.Footer {
  margin-top: $margin-xl;
  background-color: black;
  @include d-flex(center, center, column);
  .Logo {
    margin: 0 auto;
    height: 3.875rem;
    width: 6.5625rem;
    margin: 0.9375rem;
    background: no-repeat url(../../../../public/icons/logo/logo-footer.svg)
      center;
  }
}
