.SearchResults {
  width: $width-l;
  margin: 0 auto;
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  display: none;
  background-color: $white;
  @include font("Roboto", $font-size-s, $font-weigth-regular);
  
  &__list {
    margin-left: $margin-m;
  }

  &__item {
    margin: $margin-xl 0 ;
  }
}
