.CategoryIllustration {
  @include category-illustration-l;

  &__header {
    margin-top: 5rem;
    text-align: center;
    line-height: 1rem;
    @include font("PT Sans Caption", $font-size-xm, $font-weigth-bold);
  }
}
