.CategoryIllustration {
  margin-top: 5rem;
  &__header {
    margin-bottom: 2.5rem;
    text-align: center;
    line-height: 1rem;
    @include font("PT Sans Caption", $font-size-xm, $font-weigth-bold);
  }

  &__img-wrapper {
    @include category-illustration-l;
  }
}
