.ProductCard {
  cursor: pointer;
  @include product-card-l;

  &__photo {
    margin: 0 auto;
    @include product-card-photo-l;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__id {
    color: $dark-grey;
    margin: $margin-l 0 $margin-l 0;
  }

  &__price {
    color: $matterhorn;
  }

  &__id,
  &__price {
    text-align: center;
    @include font("Roboto", $font-weigth-regular, $font-size-m);
  }
}
