.Navigation {
  height: 5rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2; // keep on top of grey background when menu is active
  background-color: $black;
  &__elements-wrapper {
    width: $width-l;
    height: 100%;
    margin: 0 auto;
    @include d-flex(space-between, center, row);
  }
}
