.PageIndex {
  @include d-flex(center, center, unset);
  @include pagination-common-styles-l;
  width: 100%;
  height: 100%;
  overflow: hidden;

  button {
    width: 100%;
    height: 100%;
    font-size: $font-size-s;
    background-color: $white;
    &:hover {
      cursor: pointer;
    }
  }

  &--inactive {
    button {
      color: grey;
      background-color: unset;
    }
  }
}
