.Pagination {
  font-size: $font-size-m;
  height: 1.5625rem;
  margin: 50px auto;
  @include d-flex(center, center, row);
  gap: 20px;

  &__back,
  &__forward {
    margin: 20px;
    cursor: pointer;
    img {
      width: 10px;
      height: 20px;
    }
  }

  &__index-wrapper {
    @include d-flex(space-between, center, row);
    gap: 20px;
  }

  &__index {
    cursor: pointer;
  }
  &__link-wrapper {
    width: 20px;
    height: 20px;
  }
  &__link {
    cursor: pointer;
    &__active {
      span {
        font-weight: 700;
      }
    }
  }
}
