.ProductDetails {
  @include product-details-l;
  
  &__price {
    margin-top: $margin-xl;
    color: $raspberry;
  }

  &__name,
  &__price {
    @include font("Roboto Condensed", $font-size-l, $font-weigth-medium);
    text-align: left;
    width: 100%;
  }
}
