.ProductCard {
  cursor: pointer;
  @include product-card-l;

  &__photo-wrapper {
    position: relative;
    @include product-card-photo-l;
  }

  &__id {
    color: $dark-grey;
    margin: $margin-l 0 $margin-l 0;
  }

  &__price {
    color: $raspberry;
  }

  &__id,
  &__price {
    text-align: center;
    font-family: inherit;
  }
}
