// add correct sizez for each icon separatelly (as icons have different sizes ,
// so we can't apply one size for all of them)

.Smartphones {
  width: 1.5806rem;
  height: 2.5231rem;
}
.Tabletes {
  width: 4.7425rem;
  height: 2.2075rem; 
}
.TVs {
  width: 3.7938rem;  
  height: 2.5231rem;
}
.Mac {
  width: 3.7938rem;
  height: 2.5231rem;
}
.PCs {
  width: 3.7938rem;
  height: 2.5231rem;
}
.Headphones {
  width: 2.845rem;
  height: 2.2075rem;
}
.Consoles {
  width: 3.7938rem;
  height: 2.2075rem;
}
.Smart-Watches {
  width: 2.2131rem;
  height: 2.2075rem;
}
