@mixin d-flex($j-c, $a-i, $f-d) {
  display: flex;
  justify-content: $j-c;
  align-items: $a-i;
  flex-direction: $f-d;
}

@mixin product-card-l {
  width: 15.3719rem;
  height: 26.0625rem;
  display: inline-block;
  padding: 0.625rem;
  border-radius: 0.9375rem;
  border: 0.2px solid $silver-tone;
  background-color: $grey98;
  @include font("Roboto Condensed", $font-size-m, $font-weigth-regular);
}

@mixin product-card-photo-l {
  width: 100%;
  height: 17.125rem;
}

@mixin category-illustration-l {
  width: 81.25rem;
  height: 28.125rem;
}
