@mixin d-flex($j-c, $a-i, $f-d) {
  display: flex;
  justify-content: $j-c;
  align-items: $a-i;
  flex-direction: $f-d;
}

@mixin product-card-l {
  display: inline-block;
  padding: .625rem;
  width: 15.3125rem;
  height: 26.0625rem;
  border-radius: 24px;
  background-color: $white-smoke;
  @include font('Roboto', $font-size-m, $font-weigth-regular);
}

@mixin product-card-photo-l {
  width: 9.625rem;
  height: 275px;
}