.ControlBtn {
  width: 0.3794rem;
  height: 0.3866rem;
  border-radius: 50%;
  background-color: $white;
  &--active {
    width: 0.875rem;
    height: 0.375rem;
    background-color: $grey42;
    border-radius: 40%; 
  }
}
