.ProductDetails {
    grid-area: details;
    width: 100%;
    margin: 0 auto;

    table {
      width: 100%;
      text-align: center;
      table-layout: fixed;

      .detail {
        @include font("PT Sans Caption", $font-size-m, $font-weigth-bold);
      }
    }
  }