.ProductCollage {
  display: grid;
  grid-template:
    repeat(3, 1fr)
    / [photo-0] 28.5625rem [gap] 2.25rem [photo] 9.875rem;
  grid-template-areas:
    "photo-0 . photo-1"
    "photo-0 . photo-2"
    "photo-0 . photo-3";
  grid-area: collage;

  &__photo {
    &-0 {
      grid-area: photo-0;
    }
    &-1 {
      grid-area: photo-1;
    }
    &-2 {
      grid-area: photo-2;
    }
    &-3 {
      grid-area: photo-3;
    }
  }
}
