.ProductCollage {
  width: 40.75rem;
  height: 33.5rem;
  display: grid;
  grid-template:
    repeat(3, 1fr)
    / [photo-0] 28.5625rem [gap] 2.25rem [photo] 9.875rem;
  grid-template-areas:
    "photo-0 . photo-1"
    "photo-0 . photo-2"
    "photo-0 . photo-3";
  grid-area: collage;
  &__photo {
    position: relative;
    &-0 {
      grid-area: photo-0;
      border: 0.5px solid $silver-tone;
      border-radius: 0.625rem;
    }
    &-1 {
      grid-area: photo-1;
      border-radius: 10px 10px 0 0;
    }
    &-2 {
      grid-area: photo-2;
    }
    &-3 {
      grid-area: photo-3;
      border-radius: 0 0 10px 10px;
    }

    &-1,
    &-2,
    &-3 {
      border: .5px solid $silver-tone;
    }
  }
}
