.ProductsMenu {
  width: $width-l;
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  background-color: $white;
  @include font("Roboto", $font-size-m, $font-weigth-thin);
  display: none;

  &__categories {
    height: 4.375rem;
    max-width: 79.625rem;
    margin: 0 auto;
    border-bottom: 1px solid $grey;
    @include d-flex(space-between, center, row);
  }

  &__subcategories {
  }

  &__subcategory-wrapper {
  }

  &__subcategory {
    margin: $margin-xl 0 0 $margin-m;
    display: inline-block;
    position: relative;
    display: none;
  }
  &__items {
    margin: $margin-xl 0 0 18.75rem;
    display: none;
  }
  & li {
    margin-bottom: $margin-l;
  }
}
