.TextCard {
  
  width: 22.2568rem;
  height: 3.6084rem; 
  position: absolute;
  bottom: 2.1875rem;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  @include font('Roboto', $font-size-l, $font-weigth-bold);
  color: $white;
  mix-blend-mode: difference;

}