.ProductDescription {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3.125rem;
    grid-area: description;
    background-color: $grey98;
    border-radius: 1.25rem;

    &__price {
      width: 27.625rem;
      margin-top: $margin-xl;
      color: $red;
      text-align: end;
      @include font("Roboto", $font-size-l, $font-weigth-regular);
    }

    &__about {
      h2 {
        margin-bottom: $margin-xl;
        text-align: center;
        @include font("Roboto", $font-size-l, $font-weigth-bold);
      }
      ul {
        width: 27.625rem;
        list-style: disc;
        li {
          @include font("Roboto", $font-size-s, $font-weigth-regular);
        }
      }
    }
  }